body {
    margin: 0px;
    font-family: 'Courgette', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}


.topBar {
    display: flex;
    background: #D4806A;
    font-size: 2.5em;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #802B15;
    font-family: 'Courgette', cursive;
    align-content: center;
    margin-bottom: 40px;
}

span {
    margin-left: auto;
}


#userInput {
    padding-right: 50px;
    border: 1px solid #802B15;
    border-radius: 5px;
    height: 30px;
    align-self: center;
    padding: 4px;
    font-weight: bold;
}

#enter {
    margin-left: -60px;
    height: 20px;
    width: 50px;
    background: none;
    border: 1px solid #802B15;
    border-radius: 5px;
    font-family: 'Courgette', cursive;
}

#enter:hover {
    background: #FFBCAA;
    cursor: pointer;
}
.inputFrm {
    width: 40%;
    align-self: center;
}



.done {
    text-decoration: line-through;
    color: white;
    background: #802B15;
}
ul {
    list-style: none;
    padding: 0px;
    width: 40%;
    align-self: center;
    justify-self: center;
}

li {
    cursor: pointer;
    border: solid 1px #802B15;
    border-radius: 5px;
    list-style-type: none;
    margin-top: 7px;
    padding: 5px;
    font-weight: bold;
    transition: all 0.3s linear;
}

li:hover {
    background: #FFBCAA;
    transform: scale(1.04);
}

button.deleteBtn {
    background: #551200;
    border: 1px solid #802B15;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}